body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --deep-champagne: #b8b08dff;
  --gunmetal-2: #283845ff;
  --dark: #283845ff;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--deep-champagne);
  color: var(--gunmetal-2);
  font-family:Verdana, Geneva, Tahoma, sans-serif

}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

header {
  background: var(--dark);
}

header a {
  color: var(--deep-champagne);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--gunmetal-2);
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--gunmetal-2);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

li {
  list-style: none;
}

nav a:hover {
  text-decoration: none;
}

nav  li {
  cursor: pointer;
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

.home-header {
  padding: 20%;
  margin: 5%;
  border: solid black;
  border-radius: 5%;
  background-color: #cf773b;
  font-size: 8vw;
  text-align: center;
}

nav a {
  margin: 5%;
  padding: 5%;
  font-size:2vw
}

.mx-2 {
  margin-right: 20%;
  width: 30%;
  flex-wrap: nowrap;
}

.card {
  width: 25%;
  text-align: center;
}

.img-thumbnail {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.hoverText {
  background-color: white;
}

.projectCard {
  border: solid black
}

.projectName::after{
  
    white-space: pre;
}
.container {
  /* position: relative; */
  /* width: 40%; */
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.header {
  padding: 1%;
}

.title {
  text-align: center;
}

@media (max-width: 767px) {
  .container {
    width: 80%;
  }
  .flex-row {
    justify-content: space-around;
    padding: 0;
  }
  .mx-2 {
    margin: 5%;
  }
  .projectName{
    font-size: 1.5rem;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

button {
	background: var(--gunmetal-2);
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 20px 15px;	
  
}

a {
	border-radius: 5px;
	color: var(--deep-champagne);
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
	
}

.navActive {
  color: var(--gunmetal-2);
}

footer {
  display: flex;
  justify-content:space-evenly;
  padding-bottom: 5%;
}
