body {
  margin: 0;
  font-family: 'BioRhyme', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: 'BioRhyme', serif;
}

main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}

:root {
  --primary: #FB8B24;
  --secondary: #2B2D42;
  --tertiary: #B9C6AE
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--primary);
  color: var(--secondary);
  font-family: 'Encode Sans', sans-serif;
  background: linear-gradient(-45deg, var(--primary), white, var(--tertiary));
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-20deg, var(--primary) 50%, var(--tertiary) 50%);
  bottom: 0;
  left: -100%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.content {
  background-color: rgba(255, 255, 255, .8);
  border-radius: .25em;
  box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content h1 {
  font-size: 6vw;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

/* Original template created by Alison Quaglia */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

.contact-form a {
  color: var(--secondary);
  text-decoration: underline;
  padding: 0;
}

.contact-form h1 {
  text-align: center
}

.contact-form h5 {
  margin: 2%;
}

.email-link {
  display: flex;
}

.email-link p {
  margin-right: 5px;
}

header {
  background: var(--dark);
}

.home {
  align-items: center;
  padding-top: 15%;
}

.home-name h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9vw;
}

.home-name h4 {
  font-size: 5vw;
  text-align: center;
}

header a {
  color: var(--primary);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

.projects {
  text-align: center
}

.fade-in-effect {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% { opacity: 1;}
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

.resumeBtn {
  width: 100%;
  font-size: 2vw;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

#contact-form div {
  padding: 5px;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--secondary);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

li {
  list-style: none;
}

textarea {
  width: 90%;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
  display: block;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: center;

  display: flex;
  justify-content: center;
  vertical-align: center;
}

.navbar-toggler {
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  margin: 1%;
  padding: 1%
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.contact-form {
  width: 100%;
}

.contact-section {
  display: flex;
  width: 100%;
}

.form {
  width: 60%;
  padding-right: 3%;
}

.contact-links {
  width: 40%;
  text-align: center;
}

.contact-links p {
  margin: 0;
}

.icon-links {
  margin: 5%;
  display: flex;
  justify-content: center;
}

.icon-links p {
  text-align: center;
  text-decoration: underline
}

.flex-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.proj-flex-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 3%;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 1%;
  background-color: var(--secondary);
}

nav a:hover {
  color: var(--primary);
  text-shadow: 2px 2px 4px var(--tertiary);
}

.lactive-class {
  color: var(--primary);
  text-shadow: 2px 2px 4px var(--tertiary);
}

.initials {
  color: var(--secondary);
  background-color: var(--primary);
  display: flex;
  justify-content: flex-start;
  margin: 0;
  font-size: 4vw;
  padding: 2%;
}

.initials:hover {
  color: var(--secondary);
  box-shadow: 2px 2px 4px var(--tertiary);
}

.home-header {
  padding: 15%;
  margin: 5%;
  font-size: 8vw;
  text-align: center;
  font-weight: bolder;
}

nav a {
  font-size: 2vw;
  margin-right: 2%
}

nav {
  display: flex;
  justify-content: space-around;
}

.mx-2 {
  margin-right: 20%;
  width: 30%;
  flex-wrap: nowrap;
}

.card {
  width: 25%;
  text-align: center;
}

.img-thumbnail {
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: solid var(--secondary);
  display: flex;
  align-items: center;
  vertical-align: center;
}



.hoverText {
  background-color: white;
}

.projectCard {
  border: solid black
}


.about {
  display: inline-flex;
  text-align: center;
}

.projectName {
  margin-top: 5px;
}

.projectName h1 {
  font-size: 3vw;
  margin: 0
}

.skillset {
  font-size: 1.5vw;
  margin-top: 3px;
}

.projectBtn {
  margin: 0;
  padding: 2%;
}

.projectBtn button {
  margin: 3px;
  font-size: 1.4vw;
}

.header {
  padding: 1%;
}

.title {
  text-align: center;
}

.proj-container {
  position: relative;
  margin: 3%
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--tertiary);
  border: solid var(--secondary);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border-radius: 1.8%;
}

.proj-container:hover .overlay {
  opacity: 1;
}

.text {
  color: var(--secondary);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

button {
  background: var(--secondary);
  border: 0;
  border-radius: 5px;
  color: var(--primary);
  cursor: pointer;
  font-size: 1vw;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 5px 10px;
}

.avatar {
  padding: 20px;
  border: none;
}

a {
  border-radius: 5px;
  color: var(--primary);
  font-weight: 600;
  padding: 2px 4px;
  margin-left: -2px;
  margin-right: -2px;
}

.navActive {
  color: var(--secondary);
}

.language {
  border: solid var(--secondary);
  margin: 10px;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
  background-color: rgba(65, 226, 186, .25);
}

.languageTitle {
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-evenly;

  margin-top: 3%;
  background-color: #cccccc;
}

.footer-info {
  display: block;
  justify-content: flex-start;
}

.footer-img {
  display: flex;
  justify-content: center;
}

.footerimg {
  cursor: pointer;
  padding: 0;
  margin: 5%;
  background-color: transparent;
  width: 15%;
  height: 60%
}

.div-input {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.icon-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.icon-img {

  align-items: center;
}

.sep-icon-section {
  display: flex;
  justify-content: center;
}

.navbar-links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.contactbtn {
  font-size: 1.5vw
}

.skill {
  font-style: italic
}

@media screen and (max-width: 768px) {
  .projectName h1 {
    font-size: 6vw;
  }

  .about {
    display: block;
    text-align: center;
  }

  textarea {
    width: 100%;
  }

  #contact-form {
    margin: 0;
  }


  .skillset {
    font-size: 3vw;
  }

  button {
    font-size: 2vw;
    padding: 2%;
  }

  .projectBtn {
    margin: 1%;
    padding: 0;
  }

  .email-link {
    display: block;
  }

  .email-link p {
    margin: 0;
  }

  .email-link a {
    padding: 1%
  }

  .contact-section {
    display: block;
    width: 100%;
  }

  .form {
    width: 100%;
  }

  .contact-links {
    width: 100%;
    padding: 5%;
  }

  .contact-links p {
    margin: 0;
  }

  textarea {
    width: 100%
  }

  .div-input {
    width: 100%;
  }

  button {
    font-size: 4vw;
  }

  .resumeBtn {
    font-size: 4vw;
  }

  .projectBtn button {
    font-size: 3.5vw;
  }

  .home {
    padding-top: 60%
  }

  .contactbtn {
    font-size: 3vw
  }

  .navbar-links a {
    font-size: 5vw; 
  }

}

@media screen and (max-width: 520px) and (min-width: 768px) {
  .content h1 {
    font-size: 8vw
  }

  .content h4 {
    font-size: 4vw
  }

  nav {
    padding: 5%;
  }

  nav a {
    font-size: 4vw;
  }

  .initials {
    margin: 0;
    padding: 0
  }
}

@media screen and (max-width: 520px) {
  .initials {
    margin: 5%;
    font-size: 6vw
  } 

  .content h1 {
    font-size: 8vw
  }

  .content h4 {
    font-size: 4vw
  }
}

@media screen and (min-width: 960px) {
  .projectName {
    font-size: 1.7vw;
  }

  .content {
    max-height: 50%
  }

  .content h1 {
    font-size: 5vw
  }

  .initials {
    font-size: 3vw;
    padding: 1%
  }
}